/*////////////// CATALOG /////////////////*/
.catalog {
    margin-top: 70px;
}

.catalog-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog-name {
    font-weight: 500;
    font-size: 40px;
    color: #2C2D35;
}

.catalog-tabs {
    margin-left: 50px;
    display: flex;
    gap: 12px;
}

.catalog-tabs__btn {
    position: relative;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #D4E8D9;
    color: #2C2D35;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.4s ease-out, background-color 0.4s ease-in-out;
}

.catalog-tabs__btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #598D66;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.catalog-tabs__btn:focus {
    background-color: #D4E8D9;
}

.catalog-tabs__btn:focus::after {
    opacity: 1;
}

.catalog-tabs__btn:hover {
    color: #fff;
    background-color: #598D66;
}

.catalog-tabs__btn--active {
    color: #fff;
    background-color: #376B44;
    border: 1px solid red;
}

.catalog-tabs__btn--active:active {
    color: #2C2D35;
    background-color: #376B44;
}

.catalog-tabs__btn--active:focus {
    color: #2C2D35;
}

.catalog-bottom {
    margin-top: 30px;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
    flex-wrap: wrap;
}

.product {
    padding: 20px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    background-color: #E1EDE6;
}

.product__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.product__author {
    font-weight: 500;
    font-size: 18px;
    color: #86928B;
}

.product__title {
    margin-top: 10px;
    font-weight: 500;
    font-size: 30px;
    color: #2C2D35;
}

.product__props {
    margin-top: 8px;
    font-weight: 500;
    font-size: 18px;
    color: #2C2D35;
}

.product__price {
    margin: 30px 0 20px;
    font-weight: 500;
    font-size: 24px;
    color: #598D66;
}

